<nav class="navbar navbar-expand-lg py-4" style="background-color: #333333;">

    <div class="container d-flex align-items-start">
        <div>
            <a class="navbar-brand" href="#"><img src="../assets/images/logo＿index.png" alt="logo" width="94" height="140"></a>
        </div>

         <!-- 切換用，開發完成後刪掉 -->
        <ul>
          <li><a href="index.html">回到未登入頁面</a></li>
          <li><a href="index-logged.html">到已登入頁面</a></li>
          <li><a href="attractions.html">2-1頁面</a></li>
          <li><a href="collect.html">6頁面</a></li>
          <li><a href="record.html">5頁面</a></li>
        </ul>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                
              <li class="nav-item d-flex borderBtm">
                <a class="nav-link" href="#"><img src="../assets/images/icon_search.png" alt="icon_search"></a>
                <input class="searchArea fw-bold" type="text" placeholder="找景點" aria-label="search">
              </li>
    
              <li class="nav-item">
                <a class="nav-link fw-bold" href="#">景點內容</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link fw-bold" href="#">我的收藏</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link fw-bold" href="#">歷史觀看紀錄</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link fw-bold" href="#"><img src="../assets/images/icon_person.png" alt="">您好，王小明</a>
              </li>
    
              <li class="nav-item fw-bold">
                <a class="nav-link" href="#">登出</a>
              </li>
    
            </ul>

    
          </div>





    </div>
  </nav>