<div class="heart-container">
    <span class="heart"></span>
</div>

<script>
    const heart = document.querySelector('.heart');
  
    heart.addEventListener('click', function() {
      this.classList.toggle('clicked');
    });
</script>
  