<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <!-- font Anton&Inter CDN  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- bootstrap reset CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>

  <body>
    

    <div class="banner">
      <!-- header不一樣 -->
      <%- include('./layout/index_header-logged'); -%>

      
      <div class="container">
        <h1 class="indexTitle">Taiwan, I see.</h1>       

        <!-- 此連結要到7-1 -->
        <a href="#" class="footerContentbtn mx-auto ms-lg-0">
            <div class="position-relative">
                <div class="btnUnder"></div>

                <div class="d-flex align-items-center btnAbove ">
                    <span class="fw-bold" style="color: white;letter-spacing: 4px;">開始我的景點之旅</span>
                    <div class="footerContentbtnImg ms-2"></div>
                </div>
            </div>
        </a>
      </div>

      <div class="d-flex justify-content-end">
        <!-- 膚色底區塊 -->
        <div class="monthPromotionbg bg-body">

          <!-- 小標籤 -->
          <div class="monthTag position-relative bg-primary">
            <div class="position-absolute d-flex">
              <img src="../assets/images/icon_flag.png" alt="flag">
              <h4 class="mb-0 ms-1 text-white fw-bold">本月推廣</h4>
            </div>
          </div>

          <!-- 內容區塊 -->
          <div class="monthPromotion d-lg-flex justify-content-between align-items-center">
            <!-- 主圖 -->
            <div class="monthImg">
              <a href="#"><img src="../assets/images/this_month.png" alt="this_month"></a>
              
            </div>

            <!-- 標題＋內文 -->
            <div class="monthContent">
              <img class="mb-12" src="../assets/images/this_month_name.png" alt="this_month_name">

              <div class="d-flex mb-12">
                <img class="" src="../assets/images/icon_location.png" alt="icon_location" style="height: 20px">
                <p class="mb-0 ms-1">桃園市新屋區中正路110巷</p>
              </div>
              
              <p class="mb-40">范姜老屋群是一個古老而迷人的文化遺址，充滿歷史價值和獨特魅力。這個老屋群以其保存完整的傳統建築風格而聞名，展示了過去的生活方式和建築工藝。在這裡，您可以漫步於古老的巷道，欣賞傳統中國建築的精湛細節，並感受悠久的歷史氛圍。范姜老屋群也常舉辦文化活動和展覽，讓遊客更深入了解當地的文化傳承和歷史故事。</p>
              <!-- 這邊須再引用瀏覽更多按鈕的ＥＪＳ -->
              <!-- 這邊須再引用瀏覽更多按鈕的ＥＪＳ -->
              <!-- 這邊須再引用瀏覽更多按鈕的ＥＪＳ -->
            </div>

          </div>

        </div>
      </div>
      
      <div class="container chooseType">


        <div class="row">
          <div class="col-xl-6">

            <h2 class="mb-0 text-primary">直接找景點</h2>
            <p class="mb-0" style="color:#B4875E;">Choose Your Type</p>
            <p class="text-white mb-12 mt-32" >---- 依地區</p>

            <div class="chooseNorth">
              <img src="../assets/images/icon_brownarrow.png" alt="icon_brownarrow" >
              <span class="ms-2 text-white">北部</span>
            </div>

            <div class="d-flex">
              <div class="w66">

                <div class="d-flex">
                  <div class="chooseIsland">
                    <img src="../assets/images/icon_brownarrow.png" alt="icon_brownarrow" >
                    <span class="ms-2 text-white">離島</span>
                  </div>

                  <div class="chooseMiddle">
                    <img src="../assets/images/icon_brownarrow.png" alt="icon_brownarrow" >
                    <span class="ms-2 text-white">中部</span>
                  </div>
                </div>

                <div class="chooseSouth">
                  <img src="../assets/images/icon_brownarrow.png" alt="icon_brownarrow" >
                  <span class="ms-2 text-white">南部</span>
                </div>
              </div>

              <div class="chooseEast">
                <img src="../assets/images/icon_brownarrow.png" alt="icon_brownarrow" >
                <span class="ms-2 text-white">東部</span>
              </div>
            </div>
            
          </div>


          <div class="col-xl-5">

          </div>

        </div>




      </div>







    </div>






    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>

</html>
