<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <h1 class="index-title">我是未登入首頁</h1>
      <ul>
        <li><a href="index.html">回到未登入頁面</a></li>
        <li><a href="index-logged.html">到已登入頁面</a></li>
      </ul>
    </div>





    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>

</html>
